ion-content ion-toolbar {
  --background: translucent;
}

.my-custom-class {
  --background: #222;
}

table {
  width: 100%;
  text-align: center;
}

td, th {
  border-bottom: solid 1px grey;
  line-height: 34px;
}

ion-button {
  --transition: background-color,opacity 100ms linear;
  --ripple-color: currentColor;
  --border-radius: 50%;
  --border-width: 0;
  --border-style: none;
  --border-color: initial;
  --padding-top: 0;
  --padding-end: 0;
  --padding-bottom: 0;
  --padding-start: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: block;
  width: 56px;
  height: 56px;
  position: relative;
  font-size: 14px;
  text-align: center;
  text-overflow: ellipsis;
  text-transform: none;
  white-space: nowrap;
  -webkit-font-kerning: none;
  font-kerning: none;
}

