ion-content ion-toolbar {
  --background: translucent;
}

.my-custom-class {
  --background: #222;
}

table {
  width: 100%;
  text-align: center;
}

td, th {
  border-bottom: solid 1px grey;
  line-height: 34px;
}

ion-button {
  float: right;
}
